<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito.ttf</string>
	</array>
	<key>GIDClientID</key>
	<string>985726225542-4tb301maunv42iufom0sc8op7paacun9.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google SignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.985726225542-4tb301maunv42iufom0sc8op7paacun9</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
